ul.car.hideme {
	padding: 0;
}

#stats {
	.et_pb_blurb {
		padding: 5%;
	}
}

.et_pb_row {
	width: 85%!important;
}

.popup {
	display         : none;
	/*hidden on pageload*/
	width           : 100vw;
	height          : 100%;
	position        : absolute;
	padding-right   : 20%;
	left            : 0;
	z-index         : 9;
	top             : 0;
	background-color: #f2f2f2;
	// .et_pb_code_inner {
	// 	position: relative;
	//
	// 	.close {
	// 		position   : absolute;
	// 		right      : 50%;
	// 		font-size  : 3em;
	// 		font-weight: 100;
	// 		color      : grey;
	// 	}
	// }
	.new_wrap {
		padding: 5% 0;
		height : 100%;
		display: block;
		width  : 100%;
	}
}

.orange {
	color: $orange !important;
}

.et_pb_equal_columns {
	@include bp(tablet) {
		display: flex;
	}
}

.hidden {
	visibility: hidden;
}

.bg_navy {
	background-color: $navy!important;
}

.bg_orange {
	background-color: $orange!important;
}

.white {
	color: white;
}

.navy {
	color: $navy;
}

#page-container {
	overflow: hidden;
}

.alpha {
	font-family: $alpha;
}

.gotham {
	font-family: $gotham;
}

.baron {
	font-family: $baron;
}

.uppercase {
	text-transform: uppercase;
}

.inner_page_header {
	height: 50vh;
}

li {
	list-style: none;
}

b {
	font-family: $roundedmeduim;
}