
.et_pb_row{
	width: 85%!important;
}
.popup {
 display:none; /*hidden on pageload*/
 width: 100vw;
 height: 100%;
 position: absolute;
 padding-right: 20%;
 left: 0;
 z-index: 9;
 top: 0;
 background-color: #f2f2f2;
 .et_pb_code_inner{
	 position: inherit;

 .close{
	 position: absolute;
	 left: -10%;
	 font-size: 3em;
	 font-weight: 100;
	 color: grey;
 }
}
 .new_wrap{
	 padding: 5% 0%;
height: 100%;
display: block;
width: 100%;
 }

}


.orange{
	color: $orange !important;
}
.et_pb_equal_columns{
	@include bp(tablet){
		display: flex;
	}
}
.hidden{
	visibility: hidden;
}
.bg_navy{
	background-color: $navy!important;

}
.bg_orange{
	background-color: $orange!important;
}
.white{
	color:white;
}
.navy{
	color:$navy;
}
#page-container{
	overflow: hidden;
}
.alpha {
	font-family: $alpha;
}

.gotham {
	font-family: $gotham;
}

.baron{
	font-family: $baron;
}

.uppercase {
	text-transform: uppercase;
}
.inner_page_header{
	height: 50vh;
}
li{
	list-style: none;
}
b{
	font-family: $roundedmeduim;
}
.heading1 {
	font-size: 70px;
	line-height: 1.4em;
	@include bp(phone-tablet) {
		font-size: 40px;
	}
}
.smaller_h1{
	font-size: 55px;
}
.heading2 {
	font-size: 40px;
	line-height: 1.4em;
	@include bp(tablet) {
		font-size: 36px;
	}
	@include bp(phone){
		font-size: 25px;
	}

}

.heading3 {
	font-size: 30px;
	line-height: 1.4em;
	@include bp(phone-tablet) {
		font-size: 26px;
	}
}

.heading4 {
	font-size: 25px;
	@include bp(tablet) {
		font-size: 18px;
	}
	@include bp(phone){
		font-size: 16px;
	}
}
.heading5 {
	font-size: 20px;
	@include bp(phone-tablet) {
		font-size: 20px;
	}
}
.heading6 {
	font-size: 16px;
	@include bp(phone-tablet) {
		font-size: 14px;
	}
}
