
body {
	font-family: $gotham;
	font-style: normal;
	font-weight: 500;
	color: $navy;
	font-size: 1rem;
	@include bp(phone){
		font-size: .7rem;
	}
}

h1  {
	font-size: 60px;
	line-height: 1em;
	@include bp(S) {
		font-size: 40px;
	}
	// @include bp(phone){
	// 	font-size: 35px;
	// }
}

h2 {
	font-size: 40px;
	line-height: 1.1em;
	h2{
		margin-bottom: .5em;
	}
	@include bp(tablet) {
		font-size: 36px;
	}
	@include bp(phone){
		font-size: 25px;
	}

}

h3 {
	font-size: 30px;
		line-height: 1.4em;
		@include bp(S) {
			font-size: 26px;
		}
}

h4 {
	font-size: 25px;
	font-weight: 400;
	line-height: 1.2em;
	@include bp(S) {
		font-size: 18px;
	}
}

h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2em;
	@include bp(S) {
		font-size: 20px;
	}
}


p {
	font-size: 15px;
	font-weight: 400;
		line-height: 1.7em;
		@include bp(S) {
			font-size: 14px;
		}
}
.et_pb_column_1_3 h1,
.et_pb_column_1_4 h1 {
	// @extend h1;
}

.et_pb_column_1_3 h2,
.et_pb_column_1_4 h2 {
	// @extend h2;
}



.heading1 {
	font-size: 60px;
	line-height: 1em;
	@include bp(phone-tablet) {
		font-size: 40px;
	}
}
.smaller_h1{
	font-size: 55px !important;
}
.heading2 {
	font-size: 40px;
	line-height: 1.1em;
	@include bp(tablet) {
		font-size: 36px;
	}
	@include bp(phone){
		font-size: 25px;
	}

}

.heading3 {
	font-size: 30px;
	line-height: 1.4em;
	@include bp(phone-tablet) {
		font-size: 26px;
	}
}

.heading4 {
	font-size: 25px;
	@include bp(tablet) {
		font-size: 18px;
	}
	@include bp(phone){
		font-size: 16px;
	}
}
.heading5 {
	font-size: 20px;
	@include bp(phone-tablet) {
		font-size: 20px;
	}
}
.heading6 {
	font-size: 14px;
	@include bp(phone-tablet) {
		font-size: 13px;
	}
}
