
$iconheader: 22px;
$iconp:16px;

//colors
$teal: purple;
$_grey: #8e8e8e;
$work: blue;
$orange: #E8773D;
$navy: #2D383A;
$lightgrey: #EBEBEB;
$hover_orange: #D65610;


$gotham : GothamRounded-Book;
$roundedmeduim : GothamRounded-Medium;
$baron: 'baron_neue';
$alpha: 'alphamack_aoe';
$chart-Pie: 'Chartwell-Pies';
