$iconheader: 22px;
$iconp: 16px; //colors
$teal: purple;
$_grey: #8e8e8e;
$work: blue;
$orange: #E8773D;
$navy: #2D383A;
$lightgrey: #EBEBEB;
$hover_orange: #D65610;
$mobile_header: 70px;
$gotham: 'Gotham Rounded Book';
$roundedmeduim: 'Gotham Rounded';
$baron: 'baron_neue';
$alpha: 'alphamack_aoe';
$chart-Pie: 'Chartwell-Pies';