.cut_out_section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0 !important;
	// @include bp(phone) {
	// 	height: 120vh;
	// }
	.et_pb_row {
		float: right;
		padding-left: 0 !important;
		width: 85% !important;
		max-width: 85% !important;
		height: 100%;
		@include bp(phone-tablet) {
			float: none;
			padding: 0;
			width: 90% !important;
			max-width: 90% !important;
		}
		ul {
			padding-top: 1em;
			li {
				list-style: disc !important;
				font-size: 15px;
				@include bp(phone) {
					font-size: 12px;
					line-height: 1.8em;
				}
			}
		}
		.et_pb_column_2_3 {
			width: 55%;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			// padding: 5% 0 9%;
			.icon {
				padding-bottom: 0;
				img {
					width: 60%;
				}
			}
		}
		// #theNEED{
		.icon_grid {
			display: flex;
			flex-wrap: wrap;
			@include bp(phone) {
				padding: 2% 0;
			}
			.et_pb_blurb {
				width: 20%;
				text-align: center;
				margin: 0 auto;
				@include bp(phone) {
					width: 50%;
					padding: 2% 0;
				}
				h4 {
					text-transform: uppercase;
					font-weight: 500;
					margin-top: 5%;
					@extend .heading6;
					color: $navy;
					@include bp(phone) {
						padding: 0 10%;
					}
				}
				.et_pb_main_blurb_image {
					text-align: center;
					transition: 0.3s ease-in-out;
					margin: 1em auto;
					max-height: 5em;
					max-width: 70px;
					display: flex;
					justify-content: center;
					line-height: 5em;
					@include bp(phone) {
						margin: 0.1em auto;
					}
					a,
					img {
						max-height: 5em;
						line-height: 5em;
						height: 100%;
						width: 100%;
						@include bp(phone) {
							max-height: 3em;
							width: 100%;
							line-height: 3em;
						}
					}
					&:hover {
						transform: translateY(-10px) scale(1.5,1.5);
						transition: 0.3s ease-in-out;
					}
				}
				&.math {
					margin: auto 0;
					max-width: 5%;
					@include bp(phone) {
						display: none;
						max-width: 3%;
					}
					.et_pb_main_blurb_image {
						display: none;
					}
					h4 {
						font-size: 2em;
						font-weight: 400;
						text-transform: uppercase;
						color: $navy !important;
						line-height: 1.2em;
						@include bp(phone) {
							font-size: 1.3em;
							padding: 0 10%;
						}
					}
				}
			}
		}
		#float_img {
			position: absolute;
			bottom: 0;
			width: 45%;
			right: 0;
			padding: 0;
			@include bp(phone-tablet) {
				display: none;
			}
		}
	}
	// .btn_border {
	// 	.et_pb_column:last-child {
	// 		@include bp(phone) {
	// 			text-align: left;
	// 		}
	// 	}
	// }
	// .left_cutoutbutton {
	// 	.et_pb_button {
	// 		@include bp(phone) {
	// 			float: left;
	// 		}
	// 	}
	// }
	.et_pb_column:last-child {
		@include bp(phone) {
			text-align: left;
		}
	}
	// &:last-child {
	// 	.et_pb_column:last-child {
	// 		@include bp(phone) {
	// 			text-align: left;
	// 		}
	// 	}
	// }
}