.hero {
	padding: 0;
	.et_pb_fullwidth_header_container {
		height: calc(100vh - #{$mobile_header});
		@include bp(phone-tablet) {
			width: 100%;
		}
		@include bp(desktop) {
			height: 100vh;
		}
		.header-content {
			margin: 0 auto;
			padding: 0;
			width: 100%!important;
			display: flex;
			flex-flow: column;
			max-width: 100%!important;
			justify-content: center;
			@include bp(phone) {
				width: 90%!important;
			}
			img {
				width: 12em;
				margin-bottom: 5em;
				position: absolute;
				top: 5%;
				left: -7%;
				@include bp(phone-tablet) {
					display: none;
				}
			}
			h1 {
				color: white;
				font-family: $baron;
			}
			@include bp(M) {
				@keyframes typing {
					from {
						width: 0;
					}
					to {
						width: 8em;
					}
				}
				@keyframes blink-caret {
					from,
					to {
						border-color: transparent;
					}
					50% {
						border-color: $orange;
					}
				}
				.typewrite {
					overflow: hidden;
					border-right: 2px solid $orange;
					white-space: nowrap;
					margin: 0 auto;
					max-width: 8em;
					animation: typing 4s steps(40) 1s 1 normal both, blink-caret 500ms steps(40) infinite normal;
					// animation:
					// typing 3.5s steps(40),
					// blink-caret 1.5s step-end infinite;
				}
			}
			.typewrite {
				font-family: $alpha!important;
				@extend .heading1;
				color: white;
			}
			h2 {
				color: white;
			}
		}
	}
}